{erl_opts, [debug_info]}.

{deps, [
    {astar, {git, "https://github.com/dong50252409/astar.git", {branch, "master"}}},
    {prime_maze, {git, "https://github.com/dong50252409/prime_maze.git", {branch, "master"}}},
    {jps, {git, "https://github.com/dong50252409/jps.git", {branch, "master"}}},
    {tc, {git, "https://github.com/dong50252409/tc.git", {branch, "master"}}}
]}.

{relx, [
    {release, {timer_tc, "0.1.0"}, [
        pathfinding_test, sasl, astar, prime_maze, jps, tc
    ]},

    {mode, dev},
    {include_erts, true},
    {include_src, false},
    {extended_start_script, true},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.
