{erl_opts, [debug_info]}.

{deps, [
    erlperf,
    {maze, {git, "https://github.com/dong50252409/maze.git", {branch, "master"}}},
    {astar, {git, "https://github.com/dong50252409/astar.git", {branch, "master"}}},
    {jps, {git, "https://github.com/dong50252409/jps.git", {branch, "master"}}},
    {gbfs, {git, "https://github.com/dong50252409/gbfs.git", {branch, "master"}}}
]}.
