{erl_opts, [debug_info]}.

{deps, [
    {maze, {git, "https://github.com/dong50252409/maze.git", {branch, "master"}}},
    {astar, {git, "https://github.com/dong50252409/astar.git", {branch, "master"}}},
    {jps, {git, "https://github.com/dong50252409/jps.git", {branch, "master"}}},
    {tc, {git, "https://github.com/dong50252409/tc.git", {branch, "master"}}},
    {sync, {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

{relx, [
    {release, {pathfinding_test, "0.1.0"}, [
        pathfinding_test, sasl, maze, astar, jps, tc, sync
    ]},

    {mode, dev},
    {include_erts, true},
    {include_src, false},
    {extended_start_script, true},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.
